<!-- <div class="container">
    <div class="row">
        <div class="col-4">
    <div class="sidebar"> <small class="text-muted pl-3">provider dashboard</small>
        <ul>
            <h2 class="text-muted pl-3">products</h2>
            <li><a class="navbar-brand" type="button" (click)="onclick()"
            ><i class="fas fa-home"></i>Add new product</a></li>
            <li><a class="navbar-brand" type="button" 
                ><i class="fas fa-home"></i>View all products</a></li>
            
           
        </ul> <h2 class="text-muted px-3">Management</h2>
        <ul>
            <li><a class="navbar-brand" type="button" (click)="onclick2()"><i class="far fa-credit-card"></i>Products</a></li>
            
        </ul> <small class="text-muted px-3">GROW YOUR CLIENT BASE</small>
        <ul>
            <li><a href="#"><i class="fas fa-external-link-alt"></i>Share</a></li>
            <li><a href="#"><i class="fas fa-code"></i>Add to Website</a></li>
        </ul>
    </div>
</div>
<div class="col-8">
    <div class="container m-3">
        <div class="border m-2">
            <table class="table table-bordered ">
                <thead>
                  <tr class="table-warning">
                    
                    <th scope="col">#</th>
                    <th scope="col">name</th>
                    <th scope="col">email</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-Light" *ngFor="let users of (customers|async)">
                    
                    <td>{{users.id}}</td>
                    <td>{{users.name}}</td>
                    <td>{{users.email}}</td>
                    <td><a type="button" (click)="delete(users.id)" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                      </svg></a></td>
                   
                  </tr>
                 
                </tbody>
              </table>
        </div>
    </div>
</div>
</div>
</div>
-------------------------------------------------- -->
<div class="wrapper">
   
       
    <nav id="sidebar" style="height:100%;position: fixed;top:0;left: 0;">
      <div >
      <div class="sidebar-header" style="justify-content: center; display: flex;">
        <a routerLink='' type="button"><img class="colimg" src="../../../assets/photos/logo.jpg" width="100px" height="100px" style="border-radius: 50%;"></a>
                    <!-- <strong style="font-size:10px;">EDU</strong> -->
                     
                              </div>
  
  
                              <ul class="list-unstyled components" style="font-size: large;" >
                                <li  style="margin-bottom: 10px;">
                                  <a routerLink='/admin-dashboard'>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                                        <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                                      </svg>
                                     Home
                                     </a>
                                </li>
                                <li style="margin-bottom: 10px;">
                                    <a routerLink="/lectureSch" type="button"  (click)="onclick()">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-list" viewBox="0 0 16 16">
                                            <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                                            <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
                                          </svg>  
                                      products
                                    </a>
                                  </li>
                                  <li style="margin-bottom: 10px;">
                                    <a routerLink="/examSch" type="button" (click)="onclick()">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-plus-fill" viewBox="0 0 16 16">
                                            <path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm.5 4v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 1 0z"/>
                                          </svg>
                                      Add product
                                    </a>
                                  </li>
                                  <li  class="active" style="margin-bottom: 10px;">
                                    <a routerLink="/stGrade" type="button" (click)="onclick2()">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-check-fill" viewBox="0 0 16 16">
                                            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-1.646-7.646-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708.708z"/>
                                          </svg>
                                     Orders
                                  </a>
                                   </li>
                            </ul>
                      
                            <!-- <ul class="list-unstyled CTAs">
                                <li>
                                    <a routerLink="/Calendar">
                                      <i class="fas fa-calendar-alt"></i>
                                      Share
                                    
                                    </a>
      
                                </li>
                                <li>
                                    <a routerLink="/stEvaluate">
                                      <i class="fad fa-star-half"></i>
                                      Add to website
                                      </a>
                                </li>
                            </ul> -->
                          </div>
                  </nav>
  
      <div id="content" style="margin-left: 250px;">
    
       
          <div class="row" >
            <div class="search" style="box-shadow: 2px 2px 2px 2px rgba(154, 154, 214, 0.4);
        border-radius: 10px; background-color: white; display: flex;  width: 100%;">
          <mat-form-field>
            <input matInput placeholder="search" autocomplete="off" (keyup)="filterData($event)">
            </mat-form-field>
        </div>
            <!-- <div col-12 > -->
            <div class="card p-3" style="box-shadow: 2px 2px 2px 2px rgba(154, 154, 214, 0.4);
        border-radius: 10px; background-color: white; display: flex; justify-content: center; width: 100%;">
            <table class="table table-bordered bg-warning" mat-table matSort [dataSource]="dataSource" class="mat-elevation-z9" style="min-width: 800px;">
                
                   
              <ng-container matColumnDef="name">
                <th  mat-header-cell mat-sort-header *matHeaderCellDef> <strong style="font-size: large;">Name</strong> </th>
                <td mat-cell *matCellDef="let element"> {{element.item.name}} </td>
              </ng-container>
          
              <ng-container matColumnDef="category">
                  <th  mat-header-cell mat-sort-header *matHeaderCellDef> <strong style="font-size: large;">Name</strong> </th>
                  <td mat-cell *matCellDef="let element"> {{element.item.category}} </td>
                </ng-container>
            
              
              <ng-container matColumnDef="price">
                  <th  mat-header-cell mat-sort-header *matHeaderCellDef> <strong style="font-size: large;">price</strong> </th>
                  <td mat-cell *matCellDef="let element"> {{element.item.price}} </td>
              </ng-container>
              <ng-container matColumnDef="quantity">
                  <th  mat-header-cell mat-sort-header *matHeaderCellDef> <strong style="font-size: large;">number</strong> </th>
                  <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
              </ng-container>
              <ng-container matColumnDef="image">
                  <th  mat-header-cell mat-sort-header *matHeaderCellDef> <strong style="font-size: large;">image</strong> </th>
                  <td mat-cell *matCellDef="let element"><img src="{{element.item.imag}}"  width="100" height="100"/> </td>
              </ng-container>
              
          
              <tr style="background: darkgray;" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              
          
            </table>
            <mat-paginator #paginator
            [pageSize]="2"
            [pageSizeOptions]="[2,5, 10, 25, 100]"
            >
          </mat-paginator>
               
              </div>
          
            </div>  
      </div>
  
