<!-- <div class="allbody  m-2 p-2">
    <div class="row justify-content-center">
     <img src="/assets/photos/logo.jpg" alt="image"> 
     
    </div>
    <div class="row justify-content-center">
        <h2>For all cars types !</h2>
    </div> -->

    <!-- <div class="row justify-content-center ">
       
        <button type="button" class="btn btn-success btn-lg m-1" (click)="login()">Log In</button>
      
        <button type="button" class="btn btn-warning btn-lg m-1" (click)="register()">Register</button>
       
    </div> -->
<!-- </div> -->
<div class="bg-img">
  <div class="container-fluid">
    <div class="all">
      <header class="header">

        
        <div id="demo" class="carousel slide" data-ride="carousel" style="height: 500px; background-image: url(../../assets/Images/homePage/slidd.jpg); background-position: center;">
          <!-- <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" ></li>
            <li data-target="#demo" data-slide-to="1" ></li>
            <li data-target="#demo" data-slide-to="2"class="active"></li>
            <li data-target="#demo" data-slide-to="3"></li>
            <li data-target="#demo" data-slide-to="4"></li>

            
          </ul>
          
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="img1"></div>
            </div>
            <div class="carousel-item">
              <div class="img2"></div>
            </div>
            <div class="carousel-item">
              <div class="img3"></div>
            </div>
            <div class="carousel-item">
              <div class="img4"></div>
            </div>
            <div class="carousel-item">
              <div class="img5"></div>
            </div>
          </div>
          
          <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a> -->
        </div>
        
      </header>


<!-- --------------------------------------- About Page ----------------------------------------- -->


<section class="section-about-us">
  <div class="about-us-title">
    <h2 style="color: black;">About Us</h2>
    <p>
      For the first time in the market; finally,  We came to give all the Car parts Communities the easy solution they are craving. Our project scope aims to facilitate the process of  searching and find the right car parts through offering different offers from  different registered providers in our system. On the  other hand, for any of the car parts companies out there, Now through our project you can find as many car parts products as you need.
    </p>
  </div>
  <div class="about-us-cards container">
    <div class="card-deck">
      <div class="card">
        <img
          class="card-img-top"
          src="../../assets/Images/homePage/about2.jpeg"
          alt="Card image cap"
        />
        <div class="card-body about-us">
          <h5 class="card-title about-us">Welcome to CAR PARTS</h5>
          <p class="card-text about-us">
            Etiam porttitor risus massa nec condiment gravida nibhvelit
            auctor aliquet. Aenean sollicitudin, lorem quis bibendum auci
            elit consequat ipsutis sem nibh id elit.
          </p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="../../assets/Images/homePage/about1.jpg"
          alt="Card image cap"
          height="200px"
        />
        <div class="card-body about-us">
          <h5 class="card-title about-us">Why us?</h5>
          <p class="card-text about-us">
            This card has supporting text below as a natural lead-in to
            additional content.
          </p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
      <div class="card learing-includes">
        <p class="title">services</p>
        <div class="card-body about-us">
          <div class="">
            <i class="fas fa-check"></i
            ><span>services enrich lives through playing</span>
          </div>
          <div class="">
            <i class="fas fa-check"></i
            ><span>Guiding the spare parts </span>
          </div>
          <div class="">
            <i class="fas fa-check"></i
            ><span>provided professional solution </span>
          </div>
          <div class="">
            <i class="fas fa-check"></i
            ><span>Get all services from home </span>
          </div>
          <div class="">
            <i class="fas fa-check"></i
            ><span>choose your cost </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-classes mt-5">
          <div class="row">
            <div class="container" 
            style="background-color: rgb(70, 140, 245); padding: 20px; border-radius: 5px;">
                    <img src="../../assets/Images/homePage/logo/merceeds.png"
                    style="width: 150px; height: 40px; margin-right: 10px; margin-left: 40px;"
                    alt="" />

                    <img src="../../assets/Images/homePage/logo/bmw.png"
                    style="width: 80px; margin-right: 10px;" alt="" />

                    <img src="../../assets/Images/homePage/logo/audi.png"
                    style="width: 80px; margin-right: 10px;" alt="" />

                    <img src="../../assets/Images/homePage/logo/fiat.png"
                    style="width: 80px; margin-right: 10px;" alt="" />

                    <img src="../../assets/Images/homePage/logo/chevorlate.png"
                    style="width: 80px; margin-right: 10px;" alt="" />

                    <img src="../../assets/Images/homePage/logo/toyota.png"
                    style="width: 80px; margin-right: 10px;" alt="" />

                    <img src="../../assets/Images/homePage/logo/suziki.png"
                    style="width: 80px; margin-right: 10px;" alt="" />

                    <img src="../../assets/Images/homePage/logo/kia.png"
                    style="width: 80px; margin-right: 10px;" alt="" />

                    <img src="../../assets/Images/homePage/logo/volcs.png"
                    style="width: 80px; margin-right: 10px;" alt="" />

                    <img src="../../assets/Images/homePage/logo/hyundai.png"
                    style="width: 80px;" alt="" />

                  </div>
                </div>
                
              </div>
          
</section>


<!-- --------------------------------------- Featcher Page ----------------------------------------- -->
<section style="background-image: url(../../assets/Images/homePage/bb.jpg);">
  <div class="about-us-title" >
    <h2>OUR Services</h2>
    <p style="color: rgb(2, 4, 34);">
      Etiam porttitor risus massa nec condiment gravida nibh vel velit
      auctor aliquetnean sollicitudin, <br />
      lorem quis bibendum auci elit consequat ipsutis sem nibh id elit.
    </p>
  </div>
  <div class="row">
    <div class="container">
      <div class="card-columns">
        <div class="card">
          <div class="card-body School-Features">
            <img src="../../assets/Images/homePage/icon/icon1.png" 
            style="width: 100px; height: 100px;"
            alt="" />
            <span>Certified</span>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              do eiusmod tempor incididunt ut labore et dolore magna
              aliqua.
            </p>
          </div>
        </div>
        <div class="card cards">
          <div class="card-body School-Features">
            <img src="../../assets/Images/homePage/icon/icon2.png"
            style="width: 100px; height: 100px;"
             alt="" />
            <span>Outdoors</span>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              do eiusmod tempor incididunt ut labore et dolore magna
              aliqua.
            </p>
          </div>
        </div>
        <div class="card cards">
          <div class="card-body School-Features">
            <img src="../../assets/Images/homePage/icon/icon3.png" 
            style="width: 100px; height: 100px;"
            alt="" />
            <span>Daycare</span>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              do eiusmod tempor incididunt ut labore et dolore magna
              aliqua.
            </p>
          </div>
        </div>
        <div class="card cards">
          <div class="card-body School-Features">
            <img src="../../assets/Images/homePage/icon/icon4.png" 
            style="width: 100px; height: 100px;"
            alt="" />
            <span>Proffessionalisim</span>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              do eiusmod tempor incididunt ut labore et dolore magna
              aliqua.
            </p>
          </div>
        </div>
        <div class="card cards">
          <div class="card-body School-Features">
            <img src="../../assets/Images/homePage/icon/icon9.png" 
            style="width: 110px; height: 100px;"
            alt="" />
            <span>Quality</span>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              do eiusmod tempor incididunt ut labore et dolore magna
              aliqua.
            </p>
          </div>
        </div>
        <div class="card cards">
          <div class="card-body School-Features">
            <img src="../../assets/Images/homePage/icon/79131-200.png" 
            style="width: 100px; height: 100px;"alt="" />
            <span>Guarntee</span>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              do eiusmod tempor incididunt ut labore et dolore magna
              aliqua.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- --------------------------------------- Event Page ----------------------------------------- -->
<section class="section-3">
  <div class="about-us-title">
    <h2>Last Events</h2>
    <p>
      Etiam porttitor risus massa nec condiment gravida nibh vel velit
      auctor aliquetnean sollicitudin, <br />
      lorem quis bibendum auci elit consequat ipsutis sem nibh id elit.
    </p>
  </div>
  <div class="about-us-cards container">
    <div class="card-deck">
      <div class="card">
        <div class="img-card-events">
          <div class="h">
            <h3>22</h3>
            <h5>Sep</h5>
          </div>

          <img
            class="card-img-top"
            src="../../assets/Images/homePage/ssp.jpg"
            alt="Card image cap"
            style="height: 200px; width: 270px;"
          />
        </div>

        <div class="card-body last-events">
          <h5 class="card-title">Spare Prts</h5>
          <div class="time">
            <i class="far fa-clock"></i
            ><span> September 22 @ 9:00 am - 11:30 pm</span>
          </div>
          <div class="place">
            <i class="fas fa-map-marker-alt"></i
            ><span>244 Lisgar St Toronto</span>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="img-card-events">
          <div class="h">
            <h3>20</h3>
            <h5>Oct</h5>
          </div>

          <img
            class="card-img-top"
            src="../../assets/Images/homePage/event4.jpg"
            alt="Card image cap"
            style="height: 200px; width: 200px;"
          />
        </div>

        <div class="card-body last-events">
          <h5 class="card-title">Spare Prts</h5>
          <div class="time">
            <i class="far fa-clock"></i
            ><span> October 20 @ 8:00 am - 6:00 pm</span>
          </div>
          <div class="place">
            <i class="fas fa-map-marker-alt"></i
            ><span>244 Lisgar St Toronto</span>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="img-card-events">
          <div class="h">
            <h3>07</h3>
            <h5>Nov</h5>
          </div>

          <img
            class="card-img-top"
            src="../../assets/Images/homePage/event3.jpg"
            style="height: 200px; "
            alt="Card image cap"
          />
        </div>
        <div class="card-body last-events">
          <h5 class="card-title">Spare Prts</h5>
          <div class="time">
            <i class="far fa-clock"></i
            ><span>November 7 @ 9:00 am - 5:00 pm</span>
          </div>
          <div class="place">
            <i class="fas fa-map-marker-alt"></i
            ><span>244 Lisgar St Toronto</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


      <!-- --------------------------------------- Footer Page ----------------------------------------- -->
<footer>
  
  <div class="footer-container">
    <div class="row ">
      <div class="col-12 col-md-3 px-md-2">
        <div class=" column-1">
            <h4>Car Parts</h4>
            <p>Providing proffessional services. Car Maintainance</p>
            
            <i class="fas fa-phone-alt"></i>
            <span>	1-677-124-44227</span><br>
            <i class="far fa-clock"></i>
            <span>Mon - Sat 8.00 - 18.00</span>
        </div>
      </div>
      <div class="col-12 col-md-3 px-md-2">
        <div class=" column-2">
          <h4>Latest News</h4>
          <span>New spares</span><br>
          <span>by Craig Murphy</span><br>
          <pre>
          </pre>
          <span>Autherithing</span><br>
          <span>by Craig Murphy</span><br>
          <pre>
          </pre>
          <span>Brands</span><br>
          <span>by Craig Murphy</span>

        </div>
      </div>
      <div class="col-12 col-md-3 px-md-2">
        <div class=" column-3">
          <h4>Useful Links</h4>
          <p>Popular Brands</p>
          <p>Forums</p>
          <p>Spare Parts</p>
          <p>Upcoming Events</p>
          <p>Contact Us</p>

        </div>
      </div>
      <div class="col-12 col-md-3 px-md-2 ">
          <div class=" column-4">
            <h4>Get your services anywhere </h4>
            <img src="../../../../assets/Images/homePage/footer-map-1.png">

          </div>
        </div>
        <div class="border-bottom mb-4 mt-3"></div>
        <div class="copyright-footer mt-3">
          <div class="copyrights">
            <p>&copy; ALL RIGHTS RESERVED</p>
          </div>
          <div class="social-accounts">
            <span>CALL +44 300 303 0266</span>
            <span>FOLLOW US</span>
           <i class="fab fa-instagram"></i>
      <i class="fab fa-twitter"></i>
     <i class="fab fa-facebook-f"></i>

          </div>
        </div>
    </div>
  </div>
</footer>



    </div>
  </div>
</div>